# netlify.toml

[build]
  functions = "netlify/functions/"
  publish = "."

# This section tells Netlify how to handle your functions.
[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@google-cloud/dialogflow"]

# This schedules your cleanup function
[functions.cleanup-messages]
  schedule = "0 8 * * *"

#referals
[functions.monthly-leaderboard]
  schedule = "0 5 1 * *"